.listLinkItem {
  list-style-type: circle;
}

.linkItem {
  flex-direction: row;
}

.condition {
  font-weight: bold;
  margin-left: 10px;
}

.linkListContainer {
  align-items: center;
}

.linkSpring {
  padding: 10px 10px 10px 50px;
  border-radius: 4px;
}
